// =============================================
// Variables
// =============================================

// Colors

      $color-primary: #58e1c1;
      $color-primary-analogous: #63cc82;
      $color-primary-contrast: #927bc1;
      $color-primary-split: #e4757a;

      $color-secondary: #51ddfc;

      $color-text: #777;

// Breakpoints

      $break-md: 768px;