
// ===== Button Styles ===== //

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $color-secondary;
}

.error {
  background-color: $color-primary-split;
}

.info {
  background-color: $color-primary-contrast;
}

.success {
  background-color: $color-primary-analogous;
}

.warning {
  background-color: #fd7856;
}
